# EXTRACT DATA

In [1]:
import pandas as pd

df = pd.read_csv('customer_shopping_data.csv')
df

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

# DATA INFORMATION

In [2]:
# Checking the data types
df.dtypes

invoice_no         object
customer_id        object
gender             object
age                 int64
category           object
quantity            int64
price             float64
payment_method     object
invoice_date       object
shopping_mall      object
dtype: object

The 'invoice_date' column needs to be converted to datetime.

In [3]:
# Checking for missing values
df.isnull().sum()

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

The dataset does't contain any missing values.

In [4]:
# Checking for duplicates
df.duplicated().sum()

0

The dataset doesn't contain any duplicates.

In [5]:
# Finding the shopping mall with the most transactions
most_common_mall = df['shopping_mall'].value_counts().idxmax()
most_common_mall_count = df['shopping_mall'].value_counts().max()

print(f"{most_common_mall} : {most_common_mall_count} transactions")

Mall of Istanbul : 19943 transactions

# TRANSFORM DATA

In [6]:
# Filtering the DataFrame to keep only rows where 'shopping_mall' is 'Mall of Istanbul'
filtered_df = df[df['shopping_mall'] == 'Mall of Istanbul'].copy()

In [7]:
# Converting 'invoice_date' to datetime dtype
filtered_df['invoice_date'] = pd.to_datetime(filtered_df['invoice_date'], dayfirst=True)

In [8]:
# Creating a new column with the total sales per row
filtered_df['sales'] = df['quantity'] * df['price']

# Converting sales from Turkish Lira to US Dollar (1 TL = 0.030 USD)
filtered_df['sales'] = (filtered_df['sales'] * 0.03).round(2)

In [9]:
# Removing the price column (Unit price) and shopping_mall column (We're only working with one mall)
filtered_df = filtered_df.drop('price', axis=1)

filtered_df = filtered_df.drop('shopping_mall', axis=1)

# Excluding 2023 data due to only having three months of information about it
filtered_df.drop(filtered_df.loc[filtered_df['invoice_date'].dt.year == 2023].index, inplace=True)

In [10]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18228 entries, 7 to 99456
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      18228 non-null  object
 1   customer_id     18228 non-null  object
 2   gender          18228 non-null  object
 3   age             18228 non-null  int64
 4   category        18228 non-null  object
 5   quantity        18228 non-null  int64
 6   payment_method  18228 non-null  object
 7   invoice_date    18228 non-null  datetime64[ns]
 8   sales           18228 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 1.4+ MB

# LOAD CLEANED DATA

In [11]:
# Saving the cleaned DataFrame back to a CSV file
filtered_df.to_csv('mall_of_istanbul_cleaned_data.csv', index=False)